{% extends 'base.html.twig' %}

{% block body %}
    <div class = "container">

        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="center-block ">
                <div class="jumbotron">
                    <h2 class="form-signin-heading">Add new advertisement</h2>
                    {{ form_start(form) }}
                    <div class="form-group">{{ form_widget(form.Title) }}</div>
                    <div class="form-group">{{ form_widget(form.Description) }}</div>
                    <div class="form-group">{{ form_widget(form.Category) }}</div>
                    <div class="form-group">{{ form_widget(form.Price) }}</div>

                    <button type="submit" class="btn btn-success pull-right">Add!</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    </div>
{% endblock %}
